@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: "Comic Neue", cursive;

}

body {
    background-color: #F5F5F5;
}

.navb{
    padding-top: 10px;
}

.header-create-mem{
    padding: 10px;
}

.text_h{
    text-decoration: underline;
    color: #551A8B;
}

.short-div{
    text-align: center;
}

#html-content-holder {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#html-content-holder p {
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.generate{
    background: #9D81BA52;
    height: 50px;
    width: 200px;
    border: none;
    font-size: 16px;
    padding: 0;
}

.download{
    background: #9D81BA52;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 16px;
    
    margin-left: 15px;
}

.generate:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}

.download:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}

#btn-Convert-Html2Image {
    text-decoration: underline;
    color: #551A8B;
    font-size: 20px;
}

.akk::-webkit-scrollbar{
    width: 5px;
}


.akk{
    overflow: auto;
    overflow-x:hidden;
}

@media (max-width: 1400px)  {
    .akk{
        overflow: auto;
        overflow-x:hidden;
        max-height: 460px;
        
    }
}

@media (max-width: 768px)  {
    .akk{
        overflow: auto;
        overflow-x:hidden;
        max-height: 100px;
        
    }
}

