

body {
    background-color: #F5F5F5;
    font-family: 'Comic Sans MS';
}

body::-webkit-scrollbar{
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9D81BA;    
    border-radius: 20px;       
}

.navb{
    padding-top: 10px;
}

.header-create-mem{
    padding: 10px;
}

.text_h{
    text-decoration: underline;
    color: #551A8B;
}

.short-div{
    text-align: center;
}

.loadMem-memText {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

#html-content-holder {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#html-content-holder p {
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* кнопки */

.loadMem-btn {
    background: #9D81BA52;
    height: 50px;
    width: 160px;
    border: none;
    cursor: pointer;  
    position: relative;
    bottom: 3px;
}

.loadMem-btn input{
    display: none;
}

.loadImg{
    text-align: center;
}

.generate{
    background: #9D81BA52;
    height: 50px;
    width: 140px;
    border: none;
    font-size: 16px;
    padding: 0;
}

.download{
    background: #9D81BA52;
    height: 50px;
    width: 140px;
    border: none;
    font-size: 16px;
    
    margin-left: 15px;
}

.loadMem-btn:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}



#btn-Convert-Html2Image {
    text-decoration: underline;
    color: #551A8B;
    font-size: 20px;
}

.download:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}

#buttonLoad:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}

/* картинки */

/* .choose-img {
    background-color: #D9D9D9;
    float: left;
    position: relative;
    height: 522px;
    width: 30%;
    bottom: 500px;
    overflow: auto;
    overflow-x:hidden;
} */

.akk{
    overflow: auto;
    overflow-x:hidden;
}

@media (max-width: 1400px)  {
    .akk{
        overflow: auto;
        overflow-x:hidden;
        max-height: 460px;
        
    }
}

@media (max-width: 768px)  {
    .akk{
        overflow: auto;
        overflow-x:hidden;
        max-height: 400px;
        
    }
}

@media (max-width: 576px)  {
    .akk{
        overflow: auto;
        overflow-x:hidden;
        max-height: 100px;
        
    }
}

.akk1{
    overflow: auto;
    overflow-x:hidden;
}

@media (max-width: 1400px)  {
    .akk1{
        overflow: auto;
        overflow-x:hidden;
        max-height: 460px;
        
    }
}

@media (max-width: 768px)  {
    .akk1{
        overflow: auto;
        overflow-x:hidden;
        max-height: 100px;
        
    }
}

.akk::-webkit-scrollbar{
    width: 5px;
}

.akk::-webkit-scrollbar-thumb {
    background-color: #9D81BA;    
    border-radius: 20px;       
}

.akk1::-webkit-scrollbar{
    width: 5px;
}

.akk1::-webkit-scrollbar-thumb {
    background-color: #9D81BA;    
    border-radius: 20px;       
}

.test-mem-img{
    margin: auto;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
    padding-left: 2px;
    padding-top: 5px;
}

/* mems text */
.choose-text {
    background-color: #D9D9D9;
    float: right;
    position: relative;
    height: 522px;
    width: 30%;
    bottom: 500px;
    overflow: auto;
    text-align: center;
}

.choose-text::-webkit-scrollbar{
    width: 5px;
}

.choose-text::-webkit-scrollbar-thumb {
    background-color: #9D81BA;    
    border-radius: 20px;       
}

.text1{
    margin-top: 20px;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    border: none;
    background-color: #D9D9D9;
    text-decoration: underline;
}

.text2{
    margin-top: 30px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    background-color: #D9D9D9;
}

#inp_text{
    height: 60px;
    width: 390px;
    position: relative;
    bottom: 15px;
    background-color: black;
    color: white;
    border: none;
}
