body {
    background-color: #F5F5F5;
    font-family:'Comic Sans MS';
}

.generate{
    background: #9D81BA52;
    height: 50px;
    width: 160px;
    border: none;
    font-size: 20px;
    padding: 0;
}

.generate:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}
