@font-face {
    font-family: 'Comic Sans MS';
    src: url("./font/Comic Sans MS.ttf");
}

body {
    background-color: #F5F5F5;
    font-family: 'Comic Sans MS';
}

a {
    text-decoration: none;
    color: black;
    text-align: center; 
    display: inline-block;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon_group_connection {
  position: absolute;
  right: 10px;
}


#html-content-holder {
    margin: auto;
    margin-top: 50px;
}

#exampleFormControlInput1{
    font-weight: 700;
    border-color: #000; 
    border-bottom-width: 3px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0%;
    padding: 0%;
    text-align: center;
}

.generate{
    background: #9D81BA52;
    height: 50px;
    width: 350px;
    border: none;
    font-size: 20px;
    padding: 0;
    margin-top: 20px;
}

.generate:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}
