a {
    text-decoration: none;
    color: black;
    text-align: center; 
    display: inline-block;
  }


.icon {
    width: 25px; /* Максимальная ширина иконок */
    height: 25px; /* Высота автоматически для сохранения пропорций */
}


.icon_group_connection {
  position: absolute;
  right: 10px;
}
